.banners-inferiores {
    display: flex;
    justify-content: center; 
    gap: 15px;               
    margin-top: 50px;  
  }
  
  .inferior-banner1 {
    width: 1150px;
    height: auto;
    border-radius: 3px;
  }
  
  .inferior-banner2 {
    width: 750px;
    height: auto;
    border-radius: 3px;
  }